@import "./configs.scss";

.container-room {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;

  background-color: $primaryColorWithOpacity;
  background-image: url("../images/background.svg");
  background-size: cover;

  .empty {
    width: 100%;
    height: 90vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12),
      0px 1px 3px rgba(0, 0, 0, 0.2);

    img {
      width: 70%;
    }

    p {
      font-weight: 600;
      font-size: 14px;
      line-height: 40px;
    }
  }

  .resume {
    margin: 16px;

    span {
      font-weight: 600;
      font-size: 12px;
      line-height: 17px;
    }

    p {
      margin: 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
    }

    img {
      cursor: pointer;
      margin-left: 4px;
    }

    video {
      width: 80px;
      border-radius: 20%;
    }

    .myVideo {
      position: absolute;
      right: 24px;
      bottom: 10%;
      z-index: 100;
    }

    .othersVideo {
      position: absolute;
      right: 24px;
      top: 9.5%;
      z-index: 100;
    }
  }

  .movement {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 40px;
      background-color: $primaryColor;
      margin: 2px;
      border-radius: 4px;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.20), 0px 2px 1px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    }

    .line {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media screen and (min-width: $desktopBreakpoint) {
    background-color: transparent;
    background-image: none;
    flex-direction: row;
    align-items: center;

    .empty {
      width: 40%;
      height: 40vw;

      p {
        font-size: 20px;
      }
    }

    .resume {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: flex-start;
      justify-content: flex-end;
      margin: 0;
      margin-left: 24px;
      padding-bottom: 24px;

      video {
        width: 250px;
        border-radius: 10%;
      }
    }

    .videos {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-left: 12px;
      flex-wrap: wrap;
      height: 100%;
      max-height: 640px;
      width: 600px;

      video {
        width: 250px;
        border-radius: 12px;
      }

      video:nth-last-child(2n) {
        margin-right: 10px;
      }
    }
  }
}